/* Import this file to test colors override */
/* @import 'colors-override.css'; */

a {
  text-decoration: none;
}

.teaser {
  font-family: var(--fontfamily-body);
}

html {
  line-height: var(--text-line-height-body-on-step-0);
  font-size: 18px;
}

body {
  background: white;
}

@media screen and (min-width: 800px) {
  html {
    font-size: 20px;
  }
}
@import './index.css';
