@import '@economist/component-typography';
@import '@economist/component-palette';
@import '@economist/component-grid';

@custom-media --viewport-big (width >= 36rem);

.teaser {
  font-size: 1rem;
  overflow: hidden;
}

.teaser__link {
  text-decoration: none;
  display: block;  /* not an inline element either. */
}

.teaser__group-text {
  display: flex;
  flex-direction: column;
}

.teaser__title {
  font-size: var(--text-size-step-2);
  line-height: var(--text-line-height-body-bold-on-step-2);
  letter-spacing: var(--text-letter-spacing-body-bold-on-step-2);
  font-weight: bold;
  font-family: 'Halifax Bold';
  color: var(--teaser-color-title, var(--color-beijing));
  order: 3;
  margin: 0;
  margin-bottom: var(--grid-spacing-rabbit);
}

.teaser__section {
  font-size: var(--text-size-step--2);
  line-height: var(--text-line-height-body-on-step--2);
  text-transform: uppercase;
  font-weight: lighter;
  font-family: 'Halifax Light';
  color: var(--teaser-color-section, var(--color-economist));
  order: 1;
  margin: 0;
  margin-bottom: var(--grid-spacing-mouse);
}

.teaser__flytitle {
  font-size: var(--text-size-step--1);
  line-height: var(--text-line-height-body-on-step--1);
  font-weight: normal;
  font-family: 'Halifax Regular';
  color: var(--teaser-color-flytitle, var(--color-economist));
  order: 2;
  margin: 0;
  margin-bottom: var(--grid-spacing-hedgehog);
}

.teaser__text {
  font-size: var(--text-size-step--2);
  line-height: var(--text-line-height-body-light-on-step--2);
  font-weight: lighter;
  font-family: 'Halifax Light';
  color: var(--teaser-color-text, var(--color-beijing));
  order: 4;
  margin-bottom: var(--grid-spacing-rabbit);
}

.teaser__datetime {
  font-size: var(--text-size-step--4);
  line-height: var(--text-line-height-basic);
  letter-spacing: var(--text-letter-spacing-body-light-on-step--2);
  font-weight: lighter;
  font-family: 'Halifax Light';
  color: var(--teaser-color-datetime, var(--color-moscow));
  order: 5;
}

.teaser__datetime:before {
  content: '';
  width: 3rem;
  height: 0.1rem;
  background-color: var(--teaser-background-color-datetime, var(--color-berlin));
  display: block;
  margin-bottom: var(--grid-spacing-hedgehog);
}

.teaser__img {
  width: 100%;
  margin-bottom: var(--grid-spacing-sheep);
  border: none;
  display: block;  /* Makes sure that the image doesn't have an em box. */
}

.teaser__group-image {
  width: var(--teaser-img-width, 10em);
}

.teaser__group-image--empty {
  display: none;
}

@media (--viewport-big) {
  .teaser__group-image {
    float: left;
    margin-right: var(--grid-gutter-m);
  }

  .teaser__group-image--empty {
    display: block;
    visibility: hidden;
    min-height: var(--grid-gutter-m, 1px);  /* Because if its height is zero it doesn't push group-text to the right */
  }
}
